.ge-node__title-icon-container {
    padding-left: 2px;
    padding-right: 6px;
    overflow: hidden;
}

.ge-node .ge-node-title-part__icon {
    width: 0;
    height: 0;
    visibility: hidden;
}

/*!* Vector2 Data Types Icons *!*/

/*.ge-icon--data-type-float2,*/
/*.ge-icon--data-type-int2,*/
/*.item-library-custom-item-float2__icon,*/
/*.item-library-custom-item-int2__icon {*/
/*    --unity-image: resource("Vector2@4x.png");*/
/*}*/

/*!* Vector3 Data Types Icons *!*/

/*.ge-icon--data-type-float3,*/
/*.ge-icon--data-type-int3,*/
/*.item-library-custom-item-float3__icon,*/
/*.item-library-custom-item-int3__icon {*/
/*    --unity-image: resource("Vector3@4x.png");*/
/*}*/

/*!* Vector4 Data Types Icons *!*/

/*.ge-icon--data-type-float4,*/
/*.ge-icon--data-type-int4,*/
/*.item-library-custom-item-float4__icon,*/
/*.item-library-custom-item-int4__icon {*/
/*    --unity-image: resource("Vector4@4x.png");*/
/*}*/

/*!* Single Buffer Data Types Icons *!*/

/*.ge-node .ge-port--data-type-BufferFloat,*/
/*.ge-node .ge-port--data-type-BufferInt,*/
/*.ge-node .ge-port--data-type-float,*/
/*.ge-node .ge-port--data-type-int {*/
/*    --port-color: #80FFE6; !* --port-type-float *!*/
/*}*/

/*.ge-node .ge-port--data-type-BufferFloat2,*/
/*.ge-node .ge-port--data-type-BufferInt2,*/
/*.ge-node .ge-port--data-type-float2,*/
/*.ge-node .ge-port--data-type-int2 {*/
/*    --port-color: #14D368; !* --port-type float2 *!*/
/*}*/

/*.ge-node .ge-port--data-type-BufferFloat3,*/
/*.ge-node .ge-port--data-type-BufferInt3,*/
/*.ge-node .ge-port--data-type-float3,*/
/*.ge-node .ge-port--data-type-int3 {*/
/*    --port-color: #FFEA07; !* --port-type float3 *!*/
/*}*/

/*.ge-node .ge-port--data-type-BufferFloat4,*/
/*.ge-node .ge-port--data-type-BufferInt4,*/
/*.ge-node .ge-port--data-type-float4,*/
/*.ge-node .ge-port--data-type-int4 {*/
/*    --port-color: #E78DDC; !* --port-type float4 *!*/
/*}*/

